@import "../../global.scss";

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

  &:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: $border-radius-sm;
    z-index: 1;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: $sm-font-size;
  }

  &:hover::before {
    opacity: 1;
  }
}
